services:
  - type: web
    name: invento-mock-press
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: MASTER_KEY
        sync: false
      - key: REDIS_URL
        sync: false
